body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%
}

.header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 70px;
  text-align: center;
  border-bottom: 1px Solid #D3D3D3;
  border-top: 4px Solid mediumspringgreen;
}

.header button {
  float: right;
  margin-right: 20px;
}

#toggle-sidebar {
  float: right;
  margin-right: 20px;
}

#sidebar {
  height: 82%;
  position: fixed;
  top: 75px;
  right: 0;
  width: 430px;
  background-color: none;
  margin-right: -460px;
  transition: all 0.3s ease-in-out;
  padding-left: 30px;
  border-left: 1px Solid #D3D3D3;
  color: #696969

}

#sidebar.visible {
  right: 0;
}

#main {
  margin-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  transition: all 0.3s ease-in-out;

}

#board {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

/*congratulations image*/
.imageFeatures
{
  width: 40%;
  height: 55%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#answer {
  text-align: center;
}

#result {
  background-color: rgb(205, 235, 253);
  font-size: 25px;
  text-align: center;
  color: #696969;
}

.tile {
  /*box*/
  border: 2px solid lightgrey;
  width: 60px;
  height: 60px;
  margin: 2.5px;
  
  /*text*/
  color: #696969;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;   
}

.correct {
  background-color: #6AAA64;
  color: black;
  border-color: white;
}

.present {
  background-color: #C9B458;
  color: black;
  border-color: white;
}

.absent {
  background-color: #787C7E;
  color: white;
  border-color: white;
}

.button {
  background: transparent;
  height: 70px;
  width: 55px;
  border: none;
  color: #696969;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  position:relative;
  top:-60px;
  left: 20px;
  margin: -20px
}

.button:hover {
  background-color: lightgrey;
  transition: 0.7s;
}

.dark-mode{
  background-color: black;
  color: white;
}

.startOver {
  background-color: mediumspringgreen;
  border: none;
  height: 40px;
  width: 150px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.startOver:hover {
  background-color: skyblue;
}

#endMessage {
  text-align: center;
  font-size: 25px;
}

#wonGame {
  transition: all 0.3s ease-in-out;
}

#lostGame {
  transition: all 0.3s ease-in-out;
}

.footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 50px;
  text-align: center;
  border-top: 1px Solid #D3D3D3;
}